/JAVA/NetBeansProjects/HelloWorld/nbproject/private/
/JAVA/NetBeansProjects/HelloWorld/build/
/JAVA/NetBeansProjects/MegaBytesConverter/nbproject/private/
/JAVA/NetBeansProjects/MegaBytesConverter/build/
*.jar
/JAVA/NetBeansProjects/NelsonLab1A/nbproject/private/
/JAVA/NetBeansProjects/NelsonLab1A/build/
/JAVA/NetBeansProjects/mooc-2013-OOProgrammingWithJava-PART1/week1-003.Spruce/nbproject/private/
/JAVA/NetBeansProjects/mooc-2013-OOProgrammingWithJava-PART1/week1-002.HelloWorld/nbproject/private/
/JAVA/NetBeansProjects/mooc-2013-OOProgrammingWithJava-PART1/week1-001.Name/nbproject/private/
/JAVA/NetBeansProjects/mooc-2013-OOProgrammingWithJava-PART1/week1-005.SecondsOfTheYear/nbproject/private/
/JAVA/NetBeansProjects/mooc-2013-OOProgrammingWithJava-PART1/week1-004.ChangingVariables/nbproject/private/
/JAVA/NetBeansProjects/mooc-2013-OOProgrammingWithJava-PART1/week1-006.Addition/nbproject/private/
/JAVA/NetBeansProjects/mooc-2013-OOProgrammingWithJava-PART1/week1-007.Multiplication/nbproject/private/
/JAVA/NetBeansProjects/mooc-2013-OOProgrammingWithJava-PART1/week2-029.EvenNumbers/nbproject/private/
/JAVA/NetBeansProjects/mooc-2013-OOProgrammingWithJava-PART1/week2-025.SumOfThreeNumbers/nbproject/private/
/JAVA/NetBeansProjects/mooc-2013-OOProgrammingWithJava-PART1/week2-028.FromHundredToOne/nbproject/private/
/JAVA/NetBeansProjects/mooc-2013-OOProgrammingWithJava-PART1/week2-027.FromOneToHundred/nbproject/private/
/JAVA/NetBeansProjects/mooc-2013-OOProgrammingWithJava-PART1/week2-026.SumOfManyNumbers/nbproject/private/
/JAVA/NetBeansProjects/mooc-2013-OOProgrammingWithJava-PART1/week2-031.LowerLimitAndUpperLimit/nbproject/private/
/JAVA/NetBeansProjects/mooc-2013-OOProgrammingWithJava-PART1/week2-030.UpToCertainNumber/nbproject/private/
/JAVA/NetBeansProjects/mooc-2013-OOProgrammingWithJava-PART1/week2-041.GuessingNumberGame/nbproject/private/
/JAVA/NetBeansProjects/mooc-2013-OOProgrammingWithJava-PART1/week2-042.Hangman/nbproject/private/
/JAVA/NetBeansProjects/mooc-2013-OOProgrammingWithJava-PART1/week2-025.SumOfThreeNumbers/build/
/JAVA/NetBeansProjects/mooc-2013-OOProgrammingWithJava-PART1/week2-026.SumOfManyNumbers/build/
/JAVA/NetBeansProjects/mooc-2013-OOProgrammingWithJava-PART1/week2-027.FromOneToHundred/build/
/JAVA/NetBeansProjects/mooc-2013-OOProgrammingWithJava-PART1/week2-028.FromHundredToOne/build/
/JAVA/NetBeansProjects/mooc-2013-OOProgrammingWithJava-PART1/week2-029.EvenNumbers/build/
/JAVA/NetBeansProjects/mooc-2013-OOProgrammingWithJava-PART1/week2-030.UpToCertainNumber/build/
/JAVA/NetBeansProjects/mooc-2013-OOProgrammingWithJava-PART1/week2-031.LowerLimitAndUpperLimit/build/