* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
    align-content: center;
    height: 95vh;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5)), url(images/form.gif);
    background-repeat: repeat;
    margin-top: 1vh;
    background-position: top;  
}

h1{
    line-height: 200%;    
    margin-bottom: 0;
    padding-left: 20px;    
    font-family: "Lato", sans-serif;
    color: #FFD700;
    text-shadow: 3px 3px 3px #000000;
    text-align: center;
    font-size: 50px;   
}

header { 
	background-color: #0078d7;
    color: #FFFFFF;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 75vh;
    margin-right: auto;
    margin-left: auto;
}

iframe {
    background-color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
    display: block; 
    width: 75vh;
    height: 75vh; 
}